* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2f2f2f;
}

body {
    padding: 2rem 1rem;
}

main {
    background-color: #efeeee;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    padding: 1rem;
    font-size: 2.2rem;
}

#subtitle {
    font-size: 1rem;
    color: #2f2f2fae;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 2rem;
}

#image {
    display: block;
    width: 50%;
    max-width: 100%;
    height: auto;
    border-radius: 8rem;
}

figcaption {
    padding-top: 2rem;
}

#tmHead {
    padding: 3rem;
    font-weight: 600;
}

ul {
    width: 30%;
    letter-spacing: 0.07rem;
}

li {
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

#quote {
    width: 30%;
    padding: 2rem 0;
}

#quote p {
    color: #5e5e5ec7;
    font-style: italic;
    padding-bottom: 1.5rem;
    line-height: 2rem;
}

#reference{
    font-size: larger;
}

#reference a {
    text-decoration-line: none;
    font-weight: 700;
    color: rgb(0, 102, 139);
}